/* POPULAR PAGE CSS */

.popular-h1 {
  font-size: 2.5rem;
  padding: 2rem 2rem;
  font-weight: 300;
}

/* TOP-RATED PAGE CSS */

.top-rated-h1 {
  font-size: 2.5rem;
  padding: 2rem 2rem;
  font-weight: 300;
}

/* UPCOMING PAGE CSS */

.upcoming-h1 {
  font-size: 2.5rem;
  padding: 2rem 2rem;
  font-weight: 300;
}

/* SEARCH PAGE CSS */

.query-h1 {
  font-size: 2.5rem;
  padding: 2rem 2rem;
  font-weight: 300;
}

.query-capi {
  text-transform: uppercase;
}
